APP_NAME=JapranMarket
APP_ENV=production
APP_DEBUG=false
APP_URL=https://japran-market-api.vercel.app
APP_KEY=

DB_CONNECTION=pgsql
DB_HOST=ep-icy-sky-aoq8x712-pooler.c-2.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_VBkU0WvJG5Ir
DATABASE_URL=postgresql://neondb_owner:npg_VBkU0WvJG5Ir@ep-icy-sky-aoq8x712-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

SANCTUM_STATEFUL_DOMAINS=japran-market.vercel.app,japran-market-admin.vercel.app
SESSION_DOMAIN=.vercel.app

WHATSAPP_NUMBER=6281234567890
